body {
    margin: 0;
}

.banner{

    background-image: url(imagens/background.png);
    background-size: cover;
    height: 600px;
    display: flex;
    border-top: 10px solid rgb(83, 198, 94);
    margin: auto;
    max-width: 100%;
}

#banner1 {
    max-width: 50%;
    display: block;
    margin: auto 10%;
}

#banner1 >h1 {
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    color: white;
}

#banner1 >p {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: white;
    max-width: 80%;
}

span {
    background-color: rgb(83, 198, 94);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-top: 35px;
    margin-left: 8px;
}

.redondofundo {
    display: flex;
    position: relative;
    background-color: darkgray;
    width: 50px;
    height: 50px;
    margin: 10px;
    opacity: 50%;
    border-radius: 100%;
}

.icones {
    display: flex;
    margin: auto;
}

.icon {
    margin: 25%;
    }

#baner2 {
    margin-bottom: 0;
    }


.itens > div > p {
    font-size: 15px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.itens > div > h2 {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 55px;
    position: relative;
    display: flex;
    margin-bottom: 30px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.notificacao {
    background-color:lightgray;
    position: relative;
    display: flex;
    margin: auto;
}
.notificacao > div > p {
    font-size: 15px;
    color: gray;
    font-family: 'Roboto', sans-serif;
}
.notificacao > div > h2 {
    font-size: 19px;
    font-family: 'Roboto', sans-serif;
}

iframe {
    max-width: 70%;
    margin: auto;
}

#noti {
    max-width: 60%;
    margin: auto;
}

#video {
    max-width: 40%;
    margin: auto;
}

.depoimentos > div {
    position: relative;
    display: flex;
}

footer {
    background-color: lightgrey;
    display: flex;
}

footer > h2 {
    color: gray;
    margin: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
